<?xml version="1.0" ?>
<Config>
    <MqttConfig>
        <identifier>mqtt_backend</identifier>
        <hostname>localhost</hostname>
        <port>1883</port>
        <username>mqtt_backend</username>
        <password>1234</password>
    </MqttConfig>
    <SQLConfig>
        <hostname>localhost</hostname>
        <port>3306</port>
        <database>backend</database>
        <username>root</username>
        <password>5Freunde</password>
    </SQLConfig>
</Config>